<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honythink.db.mapper.DicMapper" >
  <resultMap id="BaseResultMap" type="com.honythink.db.entity.Dic" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="dic_name" property="dicName" jdbcType="VARCHAR" />
    <result column="dic_key" property="dicKey" jdbcType="VARCHAR" />
    <result column="dic_value" property="dicValue" jdbcType="VARCHAR" />
    <result column="selected" property="selected" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pid, dic_name, dic_key, dic_value,selected
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from dic
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from dic
    where dic_name = #{dicName,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.honythink.db.entity.Dic" >
    insert into dic (id, pid, dic_name, 
      dic_key, dic_value)
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{dicName,jdbcType=VARCHAR}, 
      #{dicKey,jdbcType=VARCHAR}, #{dicValue,jdbcType=VARCHAR}, #{selected,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.honythink.db.entity.Dic" >
    insert into dic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="dicName != null" >
        dic_name,
      </if>
      <if test="dicKey != null" >
        dic_key,
      </if>
      <if test="dicValue != null" >
        dic_value,
      </if>
      <if test="selected != null" >
        selected,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="dicName != null" >
        #{dicName,jdbcType=VARCHAR},
      </if>
      <if test="dicKey != null" >
        #{dicKey,jdbcType=VARCHAR},
      </if>
      <if test="dicValue != null" >
        #{dicValue,jdbcType=VARCHAR},
      </if>
      <if test="selected != null" >
        #{selected,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.honythink.db.entity.Dic" >
    update dic
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="dicName != null" >
        dic_name = #{dicName,jdbcType=VARCHAR},
      </if>
      <if test="dicKey != null" >
        dic_key = #{dicKey,jdbcType=VARCHAR},
      </if>
      <if test="dicValue != null" >
        dic_value = #{dicValue,jdbcType=VARCHAR},
      </if>
      <if test="selected != null" >
        selected = #{selected,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.honythink.db.entity.Dic" >
    update dic
    set pid = #{pid,jdbcType=INTEGER},
      dic_name = #{dicName,jdbcType=VARCHAR},
      dic_key = #{dicKey,jdbcType=VARCHAR},
      dic_value = #{dicValue,jdbcType=VARCHAR},
      selected = #{selected,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>