<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" th:href="@{/easyui/1.3.4/themes/default/easyui.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/wu.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/icon.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/ztree/css/zTreeStyle/zTreeStyle.css}" />
<script type="text/javascript" th:src="@{/js/jquery-1.8.0.min.js}"></script>
<script type="text/javascript" th:src="@{/easyui/1.3.4/jquery.easyui.min.js}"></script>
<script type="text/javascript" th:src="@{/easyui/1.3.4/locale/easyui-lang-zh_CN.js}"></script>
<script type="text/javascript" th:src="@{/js/entry.js}"></script>
<script type="text/javascript" th:src="@{/ztree/js/jquery.ztree.core.js}"></script>
<script type="text/javascript" th:src="@{/ztree/js/jquery.ztree.excheck.js}"></script>
<script th:inline="javascript">  
</script>  
</head>
<body class="easyui-layout">
<div class="easyui-layout" data-options="fit:true">
	<table id="datagrid"></table>
		<input type="hidden" th:value="${taxs}" id="taxs" />  
		<input type="hidden" th:value="${isfund}" id="isfund" />  
		<input type="hidden" th:value="${probation}" id="probation" />  
		<input type="hidden" th:value="${probation_percent}" id="probation_percent" />  
		<input type="hidden" th:value="${grant}" id="grant" />  
		<input type="hidden" th:value="${computer}" id="computer" />  
</div>


<div id="tb" style="padding:3px">
	<span>姓名:</span>
	<input id="resumeName" name="resumeName" style="line-height:26px;border:1px solid #ccc" />
	<span>手机:</span>
	<input id="resumeMobile" name="resumeMobile" style="line-height:26px;border:1px solid #ccc" />
	<span>职位:</span>
	<input id="position" name="position" style="line-height:26px;border:1px solid #ccc" />
	<span>客户:</span>
	<input id="name" name="name" style="line-height:26px;border:1px solid #ccc" />
	<a href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="init()">Search</a>
</div>


<!-- 表单详情 -->
	<div id="directionDialog" title="详情" data-options="modal:true,closed:true,iconCls:'icon-edit'"
		style="width:800px;height:450px;">
		<div id="direction" style="margin-left: 15px"></div>
	</div>
</body>
</html>