<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" th:href="@{/easyui/1.3.4/themes/default/easyui.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/wu.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/icon.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/ztree/css/zTreeStyle/zTreeStyle.css}" />
<script type="text/javascript" th:src="@{/js/jquery-1.8.0.min.js}"></script>
<script type="text/javascript" th:src="@{/easyui/1.3.4/jquery.easyui.min.js}"></script>
<script type="text/javascript" th:src="@{/easyui/1.3.4/locale/easyui-lang-zh_CN.js}"></script>
<script type="text/javascript" th:src="@{/js/interview.js}"></script>
<script type="text/javascript" th:src="@{/ztree/js/jquery.ztree.core.js}"></script>
<script type="text/javascript" th:src="@{/ztree/js/jquery.ztree.excheck.js}"></script>
</head>
<body class="easyui-layout">
<div class="easyui-layout" data-options="fit:true">
	<table id="datagrid"></table>
</div>


<div id="tb" style="padding:3px">
	<a href="#" class="easyui-linkbutton"
		iconCls="icon-remove" onclick="openDelete()" plain="true">删除</a>
	<a href="#" class="easyui-linkbutton"
		iconCls="icon-save" onclick="openDownload()" plain="true">生成推送信息</a>
	<a href="#" class="easyui-linkbutton"
		iconCls="icon-redo" onclick="openPush()" plain="true">推送至销售</a>
	<span>姓名:</span>
	<input id="resumeName" name="resumeName" style="line-height:26px;border:1px solid #ccc" />
	<span>手机:</span>
	<input id="resumeMobile" name="resumeMobile" style="line-height:26px;border:1px solid #ccc" />
	<span>职位:</span>
	<input id="position" name="position" style="line-height:26px;border:1px solid #ccc" />
	<span>客户:</span>
	<input id="name" name="name" style="line-height:26px;border:1px solid #ccc" />
	<a href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="init()">Search</a>
</div>


<div id="dialog_push" class="easyui-dialog"
	data-options="closed:true,iconCls:'icon-save'"
	style="width:400px; padding:10px;">
	<form id="form_push" method="POST" enctype="multipart/form-data" action="interview/push">
		<ul id="treeDemo" class="ztree"></ul>
	</form>
</div>

<!-- 表单详情 -->
	<div id="directionDialog" title="详情" data-options="modal:true,closed:true,iconCls:'icon-edit'"
		style="width:800px;height:450px;">
		<div id="direction" style="margin-left: 15px"></div>
	</div>
</body>
</html>