<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" th:href="@{/easyui/1.3.4/themes/default/easyui.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/wu.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/icon.css}" />
<script type="text/javascript" th:src="@{/js/jquery-1.8.0.min.js}"></script>
<script type="text/javascript" th:src="@{/easyui/1.3.4/jquery.easyui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/resume.js}"></script>
</head>
<body>
<div class="easyui-layout" data-options="fit:true">
	<!-- Begin of toolbar -->
	<div id="wu-toolbar-2">
		<div class="wu-toolbar-button">
			<a href="#" class="easyui-linkbutton" iconCls="icon-add"
				onclick="openAdd()" plain="true">上传简历</a> 
			<a href="#" class="easyui-linkbutton"
				iconCls="icon-remove" onclick="openDelete()" plain="true">删除</a>
			<a href="#" class="easyui-linkbutton"
				iconCls="icon-save" onclick="down()" plain="true">生成模板简历</a>
			<a href="#" class="easyui-linkbutton"
				iconCls="icon-redo" onclick="openPush()" plain="true">推荐面试</a>
		</div>
	</div>
	<!-- End of toolbar -->
	<table id="datagrid"  toolbar="#wu-toolbar-2"></table>
</div>

<div id="tb" style="padding:3px">
	<span>姓名:</span>
	<input id="name" name="name" style="line-height:26px;border:1px solid #ccc" />
	<span>手机:</span>
	<input id="mobile" name="mobile" style="line-height:26px;border:1px solid #ccc" />
	<span>学历:</span>
	<select id="education" name="education" class="easyui-validatebox">
		<option value="" th:selected="selected">请选择</option>
		<option value="博士">博士</option>
		<option value="硕士">硕士</option>
		<option value="本科">本科</option>
		<option value="大专">大专</option>
		<option value="中专">中专</option>
		<option value="中技">中技</option>
		<option value="高中">高中</option>
		<option value="初中">初中</option>
    </select>
	<span>性别:</span>
	<select id="gender" name="gender" class="easyui-validatebox">
		<option value="" th:selected="selected">请选择</option>
		<option value="男">男</option>
		<option value="女">女</option>
    </select>
	<a href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="init()">Search</a>
</div>

<div id="dialog_add" class="easyui-dialog" data-options="closed:true,iconCls:'icon-save'" style="width:400px; padding:10px;">
	<form id="form_add" method="POST" enctype="multipart/form-data"
		action="batch/upload">
		<p>
			文件：<input type="file" name="file" accept="application/msword"/>
		</p>
		<p>
			文件：<input type="file" name="file" accept="application/msword"/>
		</p>
		<p>
			文件：<input type="file" name="file" accept="application/msword"/>
		</p>
		<p>
			文件：<input type="file" name="file" accept="application/msword"/>
		</p>
		<p>
			文件：<input type="file" name="file" accept="application/msword"/>
		</p>
	</form>
</div>

<div id="dialog_down" class="easyui-dialog" data-options="closed:true,iconCls:'icon-save'" style="width:400px; padding:10px;">
		<form id="form_down" method="POST" data-options="novalidate:true">
				<div style="margin-bottom:10px">
					<div>客户：</div>
					<select id="customerId" name="customerId" class="easyui-validatebox" data-options="required:true">
						<option value="" disabled="true" th:selected="selected">请选择</option>
		                <option th:each="customer:${customers}" th:value="${customer.id}" th:text="${customer.name}"></option>
		            </select>
				</div>
				<div style="margin-bottom:10px">
					<div>推荐时间：</div>
					<input id="recommendTime" name="recommendTime" class="easyui-datebox" data-options="required:true"></input>
				</div>
				<div style="margin-bottom:10px">
					<div>职位：</div>
					<input name="position" id="position" class="easyui-validatebox" data-options="required:true"></input>
				</div>
		</form>
</div>

<!-- 表单详情 -->
	<div id="directionDialog" title="详情" data-options="modal:true,closed:true,iconCls:'icon-edit'"
		style="width:800px;height:450px;">
		<div id="direction" style="margin-left: 15px"></div>
	</div>
</body>
</html>